@page
@model Appointment_Admin.Pages.patients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patient.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patient.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patient.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patient.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patient.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.patient.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patient.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.patient.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
