@page
@model Appointment_Admin.Pages.appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.appointment[0].Clinic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointment[0].Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointment[0].Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointment[0].Appointment_date_time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.Clinic_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment_date_time)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
